.diagram-grid {
  position: relative;

  height: 100%;

  background-color: "#269";
  background-image:
    linear-gradient(var(--color-bg1) 2px, transparent 2px),
    linear-gradient(90deg, var(--color-bg1) 2px, transparent 2px),
    linear-gradient(var(--color-bg1) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-bg1) 1px, transparent 1px);
}

:global(.bi.bi-diagram) {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

:global(.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-link-path) {
  stroke: var(--color-blue);
  stroke-width: 3px;
}

:global(.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-diagram-link-label) {
  color: var(--color-fg);
  border: 2px solid var(--color-blue);
  background-color: var(--color-bg);
}

:global(.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link:hover .bi-link-path) {
  stroke: var(--color-blue2);
}
