[submodule "@asd14.eslint-config"]
	path = @asd14.eslint-config
  url = git@github.com:asd-xiv/eslint-config.git
[submodule "asd14.react-hooks"]
	path = @asd14.react-hooks
	url = git@github.com:asd-xiv/react-hooks.git
[submodule "@asd14.gruvbox-ui"]
	path = @asd14.gruvbox-ui
	url = git@github.com:asd-xiv/gruvbox-ui.git
